/* styles for row container div */
.mainContaine{
    display: flex;
    gap: 40px;
    margin: 50px;
}

/* styles for container div */
.mainContainer{
    display: flex;
    gap: 40px;
    margin: 50px;
}


/* styles for grid squares*/


/* hover style */

/* button style */
.cont{
    display: flex;
}