/* styles for container div */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px;
};

/* styles for row container div */
.rowContainer{
    display: flex;
    gap: 10px;
};

/* styles for grid squares*/
.gridSquare {
    flex-grow: auto;
    border-color: gray;
    /* border: 5px; */
};

/* hover style */

/* button style */